@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  /*  background */
  --color-bg: #fdfdfd; /* 기본 배경 */

  --color-bg-equipment: #f5f5f5; /* 최첨단 장비 이야기 영역 */
  --color-bg-medical: #f8fcff; /* 의료진 소개 영역 배경 */
  --color-bg-profile: #edeeee; /* 의료진 인물 뒤 배경 */

  --color-footer-bg: #343434; /* footer 배경 */
  --color-bar-bg: #545454; /* 상담신청 바 배경 */

  /* UI */
  --color-btn-disabled: #ededed; /* 비활성 버튼 (Before/After) */
  --color-border-gray: #d9d9d9;

  /* Brand */
  --color-brand: #66b5d5;
  --color-brand-deep: #0a2d53;

  /* Text */
  --color-text: #1a1a1a;
  --color-text-muted: #555555;
  --color-placeholder: #8e8989; /* placeholder */

  --font-ibm: 'IBM Plex Sans', sans-serif;

  --text-40: 40px;
  --text-36: 36px;
  --text-32: 32px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;

  /* 디자인 기준 */
  --spacing-1440: 1440px;
  --breakpoint-1440: 1440px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-ibm);
  word-break: keep-all;
}

@layer components {
  /* slide components */
  .slide-title {
    @apply font-semibold
         text-24
         md:text-32
         1440:text-40;
  }

  .link-btn {
    @apply block text-end font-semibold
         mt-[25px] text-16
         md:mt-[30px]
         1440:mt-[45px] 1440:text-20;
  }

  /* width components */
  .inner {
    @apply max-w-1440  mx-auto;
  }

  .slide-inner {
    @apply flex justify-center
    md:block md:ml-[50px]
    1440:max-w-1440 1440:mx-auto 1440:pl-[183px] 1440:ml-auto;
  }

  .tap-btn {
    @apply w-[150px] py-3 bg-btn-disabled rounded-3xl text-text-muted font-semibold text-16;
  }

  .tab-panel {
    @apply col-start-1 row-start-1
         flex flex-col 1440:flex-row
         gap-[30px] justify-center items-center
         opacity-0 translate-y-2
         transition-all duration-300 ease-out
         pointer-events-none;
  }

  .tab-panel.active {
    @apply opacity-100 translate-y-0 pointer-events-auto;
  }
}

/* 메인 슬라이드 */
.main-slide .swiper-pagination {
  margin-bottom: 30px;
}

.main-slide .swiper-pagination-bullet {
  background-color: var(--color-border-gray) !important;
  opacity: 1 !important;
}

.main-slide .swiper-pagination-bullet-active {
  width: 55px !important;
  border-radius: 16px !important;
  background-color: var(--color-brand) !important;
}

/* 시스템 슬라이드 */

.system-slide {
  overflow-x: hidden;
}

.system-slide .swiper-wrapper {
  margin-bottom: 20px;
}

.system-slide .swiper-button-prev,
.system-slide .swiper-button-next {
  color: var(--color-text);
  opacity: 1;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-text);
  border-radius: 100%;
  padding: 10px 0px;
  position: static !important;
  right: 0;
  margin-top: 0 !important;
}

.tap-btn.active {
  @apply bg-brand text-bg;
}

@media (min-height: 850px) {
  .bar {
    display: flex;
  }
}

.bar.menu-open {
  display: none;
}
