@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  /*  background */
  --color-bg: #fdfdfd; /* 기본 배경 */

  --color-bg-equipment: #f5f5f5; /* 최첨단 장비 이야기 영역 */
  --color-bg-medical: #f8fcff; /* 의료진 소개 영역 배경 */
  --color-bg-profile: #edeeee; /* 의료진 인물 뒤 배경 */

  --color-footer-bg: #343434; /* footer 배경 */
  --color-bar-bg: #545454; /* 상담신청 바 배경 */

  /* UI */
  --color-btn-disabled: #ededed; /* 비활성 버튼 (Before/After) */
  --color-border-gray: #d9d9d9;

  /* Brand */
  --color-brand: #66b5d5;
  --color-brand-deep: #0a2d53;

  /* Text */
  --color-text: #1a1a1a;
  --color-text-muted: #555555;
  --color-placeholder: #8e8989; /* placeholder */

  --font-ibm: 'IBM Plex Sans', sans-serif;

  /* 디자인 기준 */
  --spacing-1440: 1440px;
  --breakpoint-1440: 1440px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-ibm);
}
